<% oauth_application = rodauth.scope.instance_variable_get(:@oauth_application) %>
<div>
  <h2><%= oauth_application[rodauth.oauth_applications_name_column] %></h2>

  <dl>
    <dt><%= rodauth.oauth_applications_description_label %>: </dt>
    <dd><%= oauth_application[rodauth.oauth_applications_description_column] %></dd>
    <dt><%= rodauth.oauth_applications_homepage_url_label %>: </dt>
    <dd><%= oauth_application[rodauth.oauth_applications_homepage_url_column] %></dd>
    <dt><%= rodauth.oauth_applications_client_id_label %>: </dt>
    <dd><%= oauth_application[rodauth.oauth_applications_client_id_column] %></dd>
    <dt><%= rodauth.oauth_applications_redirect_uri_label %>: </dt>
    <dd><%= oauth_application[rodauth.oauth_applications_redirect_uri_column] %></dd>
    <dt><%= rodauth.oauth_applications_scopes_label %>: </dt>
    <dd><%= oauth_application[rodauth.oauth_applications_scopes_column] %></dd>
    <% if rodauth.features.include?(:oauth_jwt) %>
      <% if oauth_application[rodauth.oauth_applications_jwks_column] %>
        <dt><%= rodauth.oauth_applications_jwks_label %>: </dt>
        <dd><%= oauth_application[rodauth.oauth_applications_jwks_column] %></dd>
      <% end %>
      <% if oauth_application[rodauth.oauth_applications_jwks_uri_column] %>
        <dt><%= rodauth.oauth_applications_jwks_uri_label %>: </dt>
        <dd><%= oauth_application[rodauth.oauth_applications_jwks_uri_column] %></dd>
      <% end %>
      <dt><%= rodauth.oauth_applications_jwt_public_key_label %>: </dt>
      <dd><%= oauth_application[rodauth.oauth_applications_jwt_public_key_column] %></dd>
    <% end %>
  </dl>
</div>